body {
    background-color: papayawhip;
    color: brown;
    font-family:'Times New Roman';
    margin: 0px;
}

header {
    background-color: darkorange;
    color: papayawhip;
    font-family:'Times New Roman';
    padding: 20px;
    font-size: 16pt;
}

main {
    background-color:papayawhip;
    color: brown;
    font-family:'Times New Roman';
    margin: 10px;
}

footer {
    background-color: rgb(255, 186, 59);
    color: brown;
    font-family:'Times New Roman';
    padding: 20px;
    font-size: 16pt;    
    text-align: right;
}

a {
    color: DeepPink;
    text-decoration: none;
}

a:link {
    color: DeepPink;
    text-decoration: underline;
    background-color: Pink;
    box-shadow: 2px 2px 1px HotPink;
}

a:visited {
    color: MediumBlue;
    text-decoration: underline;
    background-color: LightSkyBlue;
    box-shadow: 2px 2px 1px Blue;
}

a:hover {
    color: ForestGreen;
    text-decoration: underline;
    background-color: GreenYellow;
    box-shadow: 2px 2px 1px YellowGreen;
}

a:active {
    color: Gold;
    text-decoration: underline;
    background-color: LightYellow;
    box-shadow: 2px 2px 1px Yellow;
}
