body {
    background-color: papayawhip;
    color: brown;
    font-family:'Times New Roman';
    margin: 0px;
}

header {
    background-color: darkorange;
    color: papayawhip;
    font-family:'Times New Roman';
    padding: 20px;
    font-size: 16pt;
}

main {
    color: brown;
    font-family:'Times New Roman';
    margin: 10px 20px 68.313px;
}

footer {
    background-color: rgb(255, 186, 59);
    color: brown;
    font-family:'Times New Roman';
    padding: 20px;
    font-size: 16pt;    
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    color: DeepPink;
    text-decoration: none;
    transition: 1s 1s;
}

a:link {
    color: DeepPink;
    text-decoration: underline;
    background-color: Pink;
    box-shadow: 2px 2px 1px HotPink;
}

a:visited {
    color: MediumBlue;
    text-decoration: underline;
    background-color: LightSkyBlue;
    box-shadow: 2px 2px 1px Blue;
}

a:hover {
    color: ForestGreen;
    text-decoration: underline;
    background-color: GreenYellow;
    box-shadow: 2px 2px 1px YellowGreen;
    transition: 0.3s;
}

a:active {
    color: Gold;
    text-decoration: underline;
    background-color: LightYellow;
    box-shadow: 2px 2px 1px Yellow;
}

div.menu {
    border: 2px solid ;
    border-radius: 5px;
    width: 230px;
    margin: 0 auto;
    background-color: LightYellow;
    color: Gold;
    box-shadow: 0 0 15px Yellow;
}

div.menu:hover {
    border: 2px solid ;
    border-radius: 5px;
    width: 230px;
    margin: 0 auto;
    background-color: LightSkyBlue;
    color: MediumBlue;
    box-shadow: 0 0 15px Blue;
}

