body {
    background-color: rgb(216, 255, 218);
    color: rgb(235, 60, 147);
    font-family:'Times New Roman';
    margin: 0px;
}

header {
    background-color: rgb(235, 60, 147);
    color: rgb(216, 255, 218);
    font-family:'Times New Roman';
    padding: 20px;
    font-size: 16pt;
}

main {
    background-color: rgb(216, 255, 218);
    color: rgb(235, 60, 147);
    font-family:'Times New Roman';
    margin: 10px;
}

footer {
    background-color: rgb(235, 60, 147);
    color: rgb(216, 255, 218);
    font-family:'Times New Roman';
    padding: 20px;
    font-size: 16pt;    
    text-align: right;
}

a {
    text-decoration: none;
}