body {
    background-color: papayawhip;
    color: brown;
    font-family:'Times New Roman';
    margin: 0px;
}

header {
    background-color: darkorange;
    color: papayawhip;
    font-family:'Times New Roman';
    padding: 20px;
    font-size: 16pt;
}

main {
    background-color:papayawhip;
    color: brown;
    font-family:'Times New Roman';
    margin: 10px;
}

footer {
    background-color: rgb(255, 186, 59);
    color: brown;
    font-family:'Times New Roman';
    padding: 20px;
    font-size: 16pt;    
    text-align: right;
}

a {
    text-decoration: none;
}